:root{

  --primary:#ec4899;
  --primary-dark:#db2777;
  --primary-light:#fce7f3;

  --white:#ffffff;
  --background:#fff7fb;

  --grey:#6b7280;
  --light-grey:#e5e7eb;

  --text:#2d2d2d;

  --radius:18px;

  --shadow:0 8px 24px rgba(0,0,0,.08);

}