.forgot-password{

    width:100%;

}

.forgot-password h1{

    color:#231942;

    font-size:32px;

    font-weight:700;

    text-align:center;

    margin-bottom:12px;

}

.forgot-password>p{

    color:#6F6885;

    font-size:15px;

    line-height:1.8;

    text-align:center;

    margin-bottom:34px;

}

/* ---------- LABEL ---------- */

.forgot-password label{

    display:block;

    color:#756E8A;

    font-size:14px;

    font-weight:500;

    margin-bottom:10px;

}

/* ---------- INPUT ---------- */

.forgot-input{

    width:100%;

    height:56px;

    padding:0 18px;

    margin-bottom:22px;

    border:1px solid rgba(35,25,66,.10);

    border-radius:16px;

    outline:none;

    background:rgba(255,255,255,.88);

    color:#231942;

    font-size:15px;

    transition:.25s;

}

.forgot-input:focus{

    border-color:#231942;

    box-shadow:0 0 0 3px rgba(35,25,66,.08);

}

.forgot-input::placeholder{

    color:#938BA7;

}

/* ---------- BUTTON ---------- */

.forgot-btn{

    width:100%;

    height:56px;

    margin-top:18px;

    border:none;

    border-radius:18px;

    background:#231942;

    color:#ffffff;

    font-size:16px;

    font-weight:600;

    box-shadow:0 12px 24px rgba(35,25,66,.15);

    transition:.25s;

}

.forgot-btn:active{

    transform:scale(.98);

}

/* ---------- OTP ---------- */

.otp-container{

    display:flex;

    justify-content:center;

    gap:10px;

    margin-bottom:24px;

}

.otp-box{

    width:48px;

    height:58px;

    border:1px solid rgba(35,25,66,.10);

    border-radius:16px;

    outline:none;

    background:rgba(255,255,255,.88);

    text-align:center;

    color:#231942;

    font-size:22px;

    font-weight:700;

    transition:.25s;

}

.otp-box:focus{

    border-color:#231942;

    box-shadow:0 0 0 3px rgba(35,25,66,.08);

}

.otp-text{

    text-align:center;

    color:#6F6885;

    font-size:14px;

    margin-bottom:10px;

}

.resend-btn{

    width:100%;

    border:none;

    background:none;

    color:#231942;

    font-size:15px;

    font-weight:600;

    margin-bottom:22px;

}

::-webkit-scrollbar{

    display:none;

}